body {
  margin: 0;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#delete {
  cursor: pointer;
}

i {
  cursor: pointer;
  float: right;
}

#id {
  justify-content: center;
}
